/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import 'swiper/swiper-bundle.css';


html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
 }

body {
  font-family: "Raleway", sans-serif;
}



img.logo-white {
  filter: brightness(0) invert(1);
}

.navbar {
  transition: background-color 0.4s ease, opacity 0.3s ease;
}

.input-style {
  @apply bg-transparent border-b border-[#1a1a1a] focus:border-[#8a7d6a] outline-none py-3 text-[#f0ede8] text-sm transition;
}